<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biernacka.pregnancycalendar">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="biernacka.pregnancycalendar.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name="biernacka.pregnancycalendar.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="biernacka.pregnancycalendar.ui.activities.EventCreatorActivity"
            android:label="@string/event_creator_title_activity"
            android:parentActivityName="biernacka.pregnancycalendar.ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="biernacka.pregnancycalendar.ui.activities.MainActivity" />
        </activity>
        <activity android:name="biernacka.pregnancycalendar.ui.activities.TitleImageActivity"
            android:label="@string/title_add_photo"
            android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize"></activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1248913435128506"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5d2d2adf103fe283136064b90c29b0592d324d4e" />
    </application>

</manifest>